
#connect{
	padding-left: 10%;
	padding-top: 20%;
}

#onlyThis {
		background-image: url(https://images.unsplash.com/photo-1493238792000-8113da705763?auto=format&fit=crop&w=1500&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
}

body{
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
	color: orange;
}


html {
	height: 100%;
}

.navbar-brand {font-family: Lato;}

.navbar-nav > li{
  margin-left:30px;
  margin-right:40px;
}

.peep {
	font-size: 20px;
}

.buttonayo {
    position: relative;
/*    background-color: #4CAF50;
*/    border: none;
/*    font-size: 28px;
    color: #FFFFFF;
*/    padding: 20px;
    width: 200px;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.buttonayo:after {
    content: "";
    background: #000000;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.buttonayo:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.user{
	font-size: 20px;
}

.row {
	text-align: center;
}
.class1 {
	width: 100%;
	height: 200px;
}