 .slideshow-wrapper {border:4px solid black;background-color:inherit;width:60%;height:500px;position:relative;border:none;}
 .slide-image { top:50%; left:50%;transform:translate(-50%, -50%);min-width:80%;max-width:80%;max-height:80%;min-height:80%;position: absolute;display:block;}
.but {font-size:40px;border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:black;background-color:blue;text-align:center;cursor:pointer;white-space:nowrap}
.but:hover{color:red;}

.button-left-align {position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%);}
.button-right-align {position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%);}
.index-but{width:45px;height:45px;text-align:center;text-decoration:none;outline:0;overflow:hidden;font-size:40px;background-color:inherit;border:none;color:black; }
#car_name {font-family: "Comic Sans MS", "Comic Sans", cursive; font-weight:bold;font-size:50px;}
#company_name {font-family: 'Comic Sans MS', 'Comic Sans' , cursive;font-size:35px;}


.flimg {float:left;width:16.6%;opacity:0.5;}
.flimg:hover{opacity:1;}

.slide-animate-come {animation-name:come-in;animation-duration:9s;}

.slide-animate-come-only {animation-name:come-in-only;animation-duration:4.5s;}

.slide-animate-go-out-only {animation-name:go-out-only;animation-duration:4.5s;}

@keyframes come-in {
    0% {left:200%;}
    50% {left:50%;}
    100%  {left:-150%;}
 
}

@keyframes come-in-only {
	0% {left:200%;}
    100% {left:50%;}
}

@keyframes go-out-only {
	0% {left:50%;}
	100% {left:-150%;}
}